body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    position: relative;
    height: auto;
    background: linear-gradient(to bottom, yellow, red);
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
}

label {
    display: block;
    margin: 10px 0 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

.dropdown-field {
    width: 100%;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 50px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: black;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

#message {
    margin-top: 20px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto 20px;
    max-width: 75%;
    height: auto;
}